body {
  background-image: url(../assets/img/sfondo.png);
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
}

header {
  background: linear-gradient(0deg, rgba(0, 102, 136, 1) 0%, rgba(0, 153, 187, 1) 100%);
  margin: 20px auto;
  padding: 30px 0;
  max-width: 410px;
  -webkit-box-shadow: -8px 10px 11px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 10px 11px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 10px 11px -10px rgba(0, 0, 0, 0.75);
}

header img {
  min-width: 20rem;
  display: block;
  margin: auto;
}

header p,
nav,
nav li a {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  text-decoration: none;
  text-align: center;
}

header p,
header nav {
  margin-top: 1.3rem;
}

header nav ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}

header li:before {
  content: "⇒";
}

header li:after {
  content: "⇐";
}

hr {
  display: none;
}

.second-section {
  margin: 20px auto;
  padding: 30px 0;
  max-width: 410px;
  background-color: #fff;
  -webkit-box-shadow: -8px 10px 11px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 10px 11px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 10px 11px -10px rgba(0, 0, 0, 0.75);
}

h1 {
  font-weight: 700;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

article {
  padding-left: 20px;
  padding-right: 20px;
}

.author-box {
  color: #bbbbbb;
  margin-bottom: 1rem;
}

.fas {
  margin-right: 0.3rem;
  font-size: 1.1rem;
}
article {
  line-height: 2rem;
}

p > strong {
  color: #aa2072;
  font-weight: 600;
}

article ul {
  list-style-type: disc;
  list-style-position: inside;
}

code {
  background-color: #ddddde;
  border-radius: 8px;
  border: 1px solid;
}

article li {
  margin-bottom: 12px;
}

article ul li span {
  margin-left: -15px;
}

article ol li {
  list-style-type: decimal;
  margin-left: 20px;
}

table {
  text-align: center;
}
table caption {
  font-style: italic;
  font-weight: 600;
}

table thead {
  background-color: #3366cc;
  color: #fff;
}

th {
  min-width: 100px;
}

th,
td {
  height: 50px;
}

tr:nth-child(even) {
  background-color: #eeeeee;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
}

tr:last-child {
  border-bottom: 2px solid #3366cc;
}

article a,
aside a {
  color: #0099bb;
  font-weight: 600;
}

video {
  width: 100%;
  margin: 20px auto;
  border-radius: 30px;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}
.card-news {
  background-color: #ddddde;

  padding: 20px;
  margin-bottom: 25px;
}

button {
  color: #fff;
  background-color: #3366cc;
  padding: 4px;
  border: none;
  font-size: 19px;
}
input[type="email"] {
  border: none;
  border-bottom: 1px dashed #000;
  font-size: 19px;
  margin-top: 20px;
  padding: 5px;
}

.article-card {
  background-color: #ddddde;
  border: 1px solid #b8b8b8;
  margin: 20px auto;
  max-width: 325px;
  min-height: 100px;
  padding: 20px;
}

.article-card:not(:last-child) {
  margin-bottom: 20px;
}

.article-card-date {
  text-align: right;
  font-size: 20px;
  margin-top: 40px;
}

footer {
  background: linear-gradient(0deg, rgba(0, 85, 102, 1) 0%, rgba(42, 51, 56, 1) 100%);
  margin: 20px auto;
  padding: 30px 0;
  max-width: 410px;
  -webkit-box-shadow: -8px 10px 11px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 10px 11px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 10px 11px -10px rgba(0, 0, 0, 0.75);
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}

footer a {
  color: #ff00fe;
  font-weight: 900;
}

footer p {
  margin-bottom: 20px;
}
